.logos-wrapper{
    min-height: 40vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    gap: 5rem;
}

.logos-wrapper img{
    width: 60px;

    
    
}



.logos-wrapper img:nth-child(1), .logo-wrapper img:nth-child(5){
    transform: scale(2.8);
}

@media (max-width:500px){

    .logos-wrapper{
        padding: 4rem;
    }


    .logos-wrapper img{
        width: 50px;
    }
}