@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

.about {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    
    
    color: #36353A;
    margin: 3rem 0;

    

    .container-row {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        flex: 1 1 30rem;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 5rem;
        min-height: 90vh;
        

        .container-profile{
            margin-bottom: 3rem;
        }
        
        

        @media (max-width:600px){
            flex-direction: column;
        }

        .sectionInfo {
            display: flex;
            flex-direction: column;
            justify-content: center;
            max-width: 600px;
            padding: 2rem 1rem;
            letter-spacing: 1px;
            line-height: 20px;
            

            @media (max-width:600px){
                width: 100%;
            }

            h2 {
                width: 50%;
                font-size: 36px;
                font-weight: 500;
                padding-bottom: 1rem;
                border-bottom: 2px solid #36353A;
                padding-bottom: 20px;

                @media (max-width:600px){
                    font-size: 26px;
                }
               
            }

            p {
                padding: 2rem 0;
                
            }
        }

        

        figure{
            width: 360px;
            height: 460px;
            background-color: var(--light-brown);
            position: relative;
            margin-bottom: 4rem;
            
            

            @media (max-width:600px){
                width: 70%;
                height: 300px;
                margin: 0 auto;
                
            }

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .profile-picture{
                position: absolute;
                top: 20px;
                left: 20px;


                @media (max-width:500px){
                    left: 15px;
                    top: 15px;
                }
            }
        }

        button{
            width: 40%;
            background-color: #98613A;
            color: #FFF;
            font-weight: 500;
            font-family: 'Montserrat', sans-serif;
            padding: 1rem 4.5rem;
            border-radius: 15px;
            font-size: 1.6rem;
            text-transform: uppercase;
            cursor: pointer;

            @media (max-width:500px){
                display: block;
                margin: 0 auto;
                width: 90%;
                margin-bottom: 2rem;
            }

            &:hover{
                transform: scale(1.1);
            }
    

        } 
    }

    .servicesWrapper{        
                
        display: flex;        
        align-items: center; 
        justify-content: space-between;
        width: 100%;       
        gap: 5rem;
        margin-bottom: 3rem;
        

        @media (max-width:900px) {
            flex-direction: column;
            
        }       

        .left-row{

            letter-spacing: 1px;
            line-height: 20px;                    
            
            max-width: 800px;
            @media (max-width:600px){
                padding: 0 5%;   
            }
        }

        img{
            display: block;
            object-fit: cover;
            height: 600px;

            @media (max-width:500px){
                height: 400px;
                width: 90%;
                margin: 0 auto;
            }    
            
        }

        .sectionInfo{
            margin: 0 auto;           
            margin-bottom: 5rem;            
            

            h2{
                width: 50%;               
                font-size: 36px;
                font-weight: 500;
                padding-bottom: 1rem;
                border-bottom: 2px solid #36353A;
                padding-bottom: 15px;
                margin-bottom: 2rem;

                @media (max-width:600px){
                    font-size: 26px;
                }
                
            }

            

            
        }
        
        .service-grid{
            display: grid;
            grid-template-columns: 1fr;
            gap: 3rem;           

            .service{
                display: flex;  
                border-radius: 20px;               
                cursor: pointer;
                background-color: #FFF;
                box-shadow: 1px 5px 25px rgba($color: #000000, $alpha: .1);

                @media (max-width:600px){
                    flex-direction: column;
                    text-align: center;
                }

                &:hover .arrow{
                            
                    animation: move-arrow 2s ease-in-out infinite;
                }               
                

                .service-content{
                    padding: 15px 10px;
                    flex: 5;
                    font-weight: 500;

                    h3{
                        margin-bottom: 15px;
                        font-size: 2.2rem;
                    }
                }

                .service-icon{                  
                    
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding-top: 10px;
                    flex: 1.2;                   


                    .icon{
                        font-size: 4rem;
                        color: var(--color-brown);
                        
                    }
                }

                .container-arrow{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex: 1;

                    @media (max-width:600px){
                        display: none;
                    }

                    .arrow{
                        font-size: 2.6rem;

                        

                        
                    }

                    @keyframes move-arrow {
                        10%{
                            transform: translateX(5px);
                        }
                        20%{
                            transform: translateX(-5px);
                        }
                        30%{
                            transform: translateX(5px);
                        }
                        50%{
                            transform: translateX(0px);
                        }
                        100%{
                            transform: translate(0);
                        }
                        
                    }
                }                
            }
        }        
    }
 }
