@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

.header-container{    
    height: 50px;
    width: 100%;     

    nav{        
        height: 100%; 
         
              
        ul{       
        
        display: flex;
        justify-content: space-around;
        align-items: center;

        .navbar-list{
            font-size: 1.8rem;
            font-weight: 500;
            color: #000;
            cursor: pointer;
            position: relative;
           

            .arrow{
                margin-left: 10px;
            }

            .services-list{
                display: flex;
                flex-direction: column;
                align-items: center;                
                text-align: center;
                width: 100%;                
                position: absolute;
                top: 35px;
                left: 0; 
                z-index: 1000; 
                
                             

                li{
                    display: inline-block;
                    width: 160px;                         
                    font-size: 1.4rem;
                    padding: 1rem 0;                    
                    background-color: #FFF;                    
                    border-bottom: 1px solid #333;             
                                      
                    
                    
                    *{
                        color: #000;
                    }

                    &:hover{
                        background-color: var(--background-pink);
                        border-radius: 5px;
                    }
                }            
            }        
        }
        .logo{
            font-size: 3.4rem;
            font-family: 'Prata', serif;
            color: #000;           
        }

        li{
            padding: .5rem 1rem;           
            
        }        
        
    }}
}