footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70px;
    width: 100%;
    gap: 2rem;
    padding-top: 3rem;

    p{
        font-size: 1.4rem;
        color: #000;
        font-weight: 600;
    }

    .social-icons-container{
        display: flex;
        gap: 2rem;

        li {
            font-size: 2.2rem;
            

            a{
                color: var(--footer-icons);
                cursor: pointer;
                
                
            }

            &:hover{
                transform: scale(1.2);
            }
        }
    }

}

