.slider-container{
    display: block;
    width: 80%;    
    margin: 0 auto 2rem;   
    

    img{
        
        height: 420px;
        padding: 0 10px;
        object-fit: cover;
        
    }   

}